:root{
    --main-color:#8e44ad;
    --red:#e74c3c;
    --orange:#f39c12;
    --white:#fff:
    --Black:#333;
    --light-color:#888;
    --light-bg:#eee;
    --border:1px solid rgba(0,0,0,.2);
}


*{
    font-family: 'Times New Roman', Times, serif;
    margin: 0; padding: 0;
    box-sizing: border-box; border: none;
    outline: none;
    text-decoration: none;
}
*::selection{
   background-color: var(--main-color);
   color: #fff;
}
*::-webkit-scrollbar{
    width: 1rem;
    height: .5rem;
}
*::-webkit-scrollbar-track{
    background-color: transparent;
}
*::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background-color: var(--light-bg);
    padding-left: 30rem;
}
body.active{
    padding-left: 0;
}
section{
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    background-color:#fff;
    border-bottom: var(--border);
    position: sticky;
     top: 0; left: 0; right: 0;
     z-index: 1000;
}
.header .flex{
    padding: 1.5rem 2rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .flex .logo{
    font-size: 2.5rem;
    color: black;
    font-weight: bolder;
}
.header .flex .search-form{
    width: 50rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    padding: 1.5rem 2rem;
    gap: 2.5rem;
    background-color: var(--light-bg);
}
.header .flex .search-form input{
    width: 100%;
    background: none;
    font-size: 2rem;
    color: black;
}
.header .flex .search-form button{
    font-size: 2rem;
    color: black;
    cursor: pointer;
    background: none;
}
.header .flex .search-form button:hover{
    color: var(--main-color);
}
.header .flex .icons div{
    font-size: 2rem;
    color: black;
    border-radius: .5rem;
    height: 4.5rem;
    cursor: pointer;
    width: 4.5rem;
    line-height: 4.4rem;
    background-color: var(--light-bg);
    text-align: center;
    margin-left: .5rem;
}
.header .flex .icons div:hover{
    background-color: black;
    color: #fff;
}
#search-btn{
    display: none;
}
.header .flex .profile{
    position: absolute;
    top: 120%; right: 2rem;
    background-color: #fff;
    border-radius: .5rem;
    padding: 2rem;
    text-align: center;
    width: 30rem;
    transform: scale(0);
    transform-origin: top right;
   transition: .2s linear;
}
.header .flex .profile.active{
    transform: scale(1);
}
.header .flex .profile img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: .5rem;
    
}
.header .flex .profile h3{
    font-size: 2rem;
    color: black;
}
.header .flex .profile span{
    font-size: 1.6rem;
    color: var(--light-color);
}
.btn,.option-btn,
.delete-btn,.inline-btn,
.inline-option-btn,
.inline-delete-btn{
   border-radius: .5rem;
   padding: 1rem 3rem;
   font-size: 1.8rem;
   color: #fff;
   text-transform: capitalize;
   margin-top: 1rem;
   cursor: pointer;
   text-align: center;
}
.flex-btn{
    display: flex;
    gap: 1rem;
}
.btn,.option-btn,
.delete-btn{
    display: block;
    width: 100%;
}
.inline-btn,
.inline-option-btn,
.inline-delete-btn{
    display: inline-block;
}
.btn, .inline-btn{
    background-color: var(--main-color);
}
.option-btn ,.inline-option-btn{
    background-color: var(--orange);
}
.delete-btn ,.inline-delete-btn{
    background-color: var(--red);
}
.btn:hover,
.option-btn:hover,
.delete-btn:hover,
.inline-btn:hover,
.inline-option-btn:hover,
.inline-delete-btn:hover{
    background-color: black;
    color: #fff;
}

/* ====side bar===== */
.side-bar{
    position: fixed;
    top: 0; left: 0;
    height: 100vh;
    width: 30rem;
    background-color: #fff;
    border-right: var(--border);
    z-index: 1200;
}
.side-bar .close-side-bar{
    text-align: right;
    padding: 2rem;
    padding-bottom: 0;
    display: none;
}
.side-bar .close-side-bar i{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.4rem;
    font-size: 2.5rem;
    color: #fff;
    background-color: var(--red);
    cursor: pointer;
    text-align: center;
    border-radius: .5rem;
}
.side-bar .close-side-bar i:hover{
    background-color: black;
}


.side-bar .profile{
    padding: 3rem 2rem;
    text-align: center;
}
.side-bar .profile img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: .5rem;
}
.side-bar .profile h3{
    font-size: 2rem;
    color: black;
}
.side-bar .profile span{
    font-size: 1.6rem;
    color: var(--light-color); 
}
.side-bar .navbar a{
    display: block;
    padding: 2rem;
    margin: .5rem 0;
    font-size: 1.8rem;
}
.side-bar .navbar a i{
    color: var(--main-color);
    margin-right: 1.5rem;
    transition: .2s linear;
}
.side-bar .navbar a span{
    color: var(--light-color);
}
.side-bar .navbar a:hover{
    background-color: var(--light-bg);
}
.side-bar .navbar a:hover i{
  margin-right: 2.5rem;
}
.side-bar.active{
    left: -31rem;
}

/* ======footer ====== */
.footer{
    position: sticky;
    bottom: 0; right: 0; left: 0;
    background-color: #fff;
    border-top: var(--border);
    padding:2.5rem 2rem;
    text-align: center;
    color: black;
    font-size: 2rem;
    margin-top: 2rem;
    z-index: 1000;
}
.footer span{
    color: var(--main-color);
}
/* ======quick select====== */
.heading{
    padding-bottom: 1.8rem;
    border-bottom: var(--border);
    font-size: 2.5rem;
    color: black;
    text-transform: capitalize;
    margin-bottom: 2rem;
}
/* =======quick-select====== */
.quick-select{
     left: -30rem;
}
.quick-select .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20.5rem, 2fr));
    gap: 1rem;
    align-items: flex-start;
    justify-content: center;  
}
.quick-select .box-container .box{
    border-radius: .5rem;
    background-color: #fff;
    padding: 2rem;
}
.quick-select .box-container .box .title{
     font-size: 2rem;
     color: #333;
}
.quick-select .box-container .box p{
    line-height: 1rem;
    padding-top: 1.5rem;
    color: var(--light-color);
    font-size: 1.6rem;
}
.quick-select .box-container .box p span{
    color: var(--main-color);
}
.quick-select .box-container .tutor{
   text-align: center;
   
}
.quick-select .box-container .tutor p{
    padding-bottom: 1rem;
}
.quick-select .box-container .box .flex{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 2rem;
}
.quick-select .box-container .box .flex a{
    padding: 1rem ;
    border-radius: .5rem;
    font-size: 1.6rem;
   background-color: var(--light-bg);
}
.quick-select .box-container .box .flex a i{
    margin-right: 1rem;
    color: #333;
}
.quick-select .box-container .box .flex a span{
    color: var(--light-color);
}
.quick-select .box-container .box .flex a:hover{
    background-color: #333;
}
.quick-select .box-container .box .flex a:hover i{
    color: #fff;
}
.quick-select .box-container .box .flex a:hover span{
    color: #fff;
}
/* =======courses======= */
.courses .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 2fr));
    gap: 1rem;
    align-items: flex-start;
    justify-content: center;  
}
.courses .box-container .box{
    border-radius: .5rem;
    background-color: #fff;
    padding: 2rem;
}
.courses .box-container .box .tutor{
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}
.courses .box-container .box .tutor img{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    object-fit: cover;
}
.courses .box-container .box .tutor h3{
    font-size: 2rem;
    color: #333;
    margin-bottom: .2rem;
}
.courses .box-container .box .tutor span{
    font-size: 1.5rem;
    color: var(--light-color);
}
.courses .box-container .box .thumb{
    width: 100%;
    border-radius: .5rem;
    height: 20rem;
    object-fit: cover;
}
.courses .box-container .box .title{
    font-size: 2rem;
    color: #333;
    margin-top: .5rem;
    padding: .5rem 0;
}



























/* media quries */
@media (max-width:1200px){
    body{
        padding-left: 0;
    }
    .side-bar{
        transition: .2s linear;
        left: -30rem;
       
    }
    .side-bar .close-side-bar{
        display:inline-block;
    }
    .side-bar.profile.active{
        left: 0;
        box-shadow: 0 0 0 100vw rgba(0,0,0,.7);
    }
}
@media (max-width:991px){
  html{
    font-size: 55%;
  }
}
@media (max-width:768px){
    #search-btn{
        display: inline-block;
    }
    .header .flex .search-form{
        position: absolute;
        top: 99%; left: 0; right: 0;
        width: auto;
        border-top: var(--border);
        border-bottom: var(--border);
        background-color: #fff;
        clip-path:polygon(0 0 , 100% 0 , 100% 0 , 0 0) ;
        transition: .2s linear;
    }
    .header .flex .search-form.active{
        clip-path:polygon(0 0 , 100% 0 , 100% 100% , 0 100%) ; 
    }
}
@media (max-width:450px){
    html{
      font-size: 50%;
    }
    .flex-btn{
        flex-flow: column;
        gap: 0;
    }
    .heading{
        font-size: 2rem;
    }
  }
  